.list-repo-card {
  min-height: 180px;
}

.list-repo-inner {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.list-repo-inner .mdl-card__media {
  min-width: 100px;
  background: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 479px) {
  .list-repo-inner .mdl-card__media {
    min-width: 80px;
  }
}

.list-repo-inner .mdl-card__media:hover {
  cursor: pointer;
}

.list-repo-inner .mdl-card__supporting-text {
  width: auto;
  position: relative;
  padding: 16px 16px 8px;
}

.list-repo-inner h4 {
  margin: 0 0 10px;
  position: relative;
}

.list-repo-inner h4 a {
  white-space: nowrap;
}

.list-repo-inner h4::after {
  content: '';
  right: -16px;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
}

.list-repo-inner .repo-author {
  font-size: 65%;
  display: block;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.65);
}

.list-repo-inner .repo-desc {
  display: inline-block;
  position: relative;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}

.list-repo-inner .repo-desc::after {
  content: '';
  position: absolute;
  right: 0;
  top: 1.5em;
  height: 1.5em;
  width: 10%;
}

.list-repo-inner .repo-desc.no-desc {
  font-style: italic;
}

.list-repo-inner h4::after,
.list-repo-inner .repo-desc::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #fff 40%);
}

.list-repo-inner .score {
  display: flex;
  min-height: 85px;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
  background: #f3f3f3;
  flex-grow: 1;
  flex-direction: column;
}

.list-repo-inner .score .score-rank {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.list-repo-inner .score span {
  color: #0074bc;
  font-weight: 300;
}

.list-repo-inner .score:hover span {
  text-decoration: underline;
}

.list-repo-inner .score .score-diff {
  display: block;
  position: absolute;
  font-size: 0.6em;
  margin-top: 3em;
}

.list-repo-inner .scores {
  display: flex;
  flex-direction: row;
  border-top: 4px solid #505050;
  padding-top: 1px;
}

.list-repo-inner .scores > span {
  width: 25%;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background: #505050;
  text-align: center;
  font-weight: 500;
  color: #fff;
  text-indent: -9999px;
  margin-right: 1px;
}

.list-repo-inner .scores > span:last-child {
  margin-right: 0;
}

.list-repo-card:hover .list-repo-inner .scores > span {
  text-indent: 0;
}

.list-repo-inner .extended-scores {
  border-left: 5px solid #505050;
}

.list-repo-inner .extended-scores > div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 30px;
  margin-bottom: 1px;
  margin-left: 1px;
}

.list-repo-inner .extended-scores > div:last-child {
  margin-bottom: 0;
}

.list-repo-inner .extended-scores .score-seg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  font-size: 12px;
  font-weight: 500;
}

.list-repo-inner .extended-scores .score-seg-inf {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.list-repo-inner .extended-scores .score-diff.score-diff {
  color: inherit;
  font-size: 0.8em;
  font-weight: normal;
  padding-left: 2px;
}

.list-repo-card .mdl-card__actions {
  display: flex;
  align-items: center;
  /* 36px height + 8px padding */
  padding: 8px 0;
  max-height: 52px;
}

.list-repo-card .meta {
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
  height: 36px;
  margin: 0;
  padding-left: 14px;
  font-size: 13px;
  line-height: 36px;
  font-weight: 400;
  white-space: nowrap;
}

.list-repo-card .meta svg {
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

@media (max-width: 479px) {
  .list-repo-card .meta.license {
    display: none;
  }
}

.list-repo-card .meta.highlight {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.list-repo-card .meta .icon {
  padding-right: 6px;
}
