.env
.idea/
/coverage
/node_modules
/bower_components
/dist
/output
/src/compiled
/typings
.DS_Store
/src/public/assets/data
/src/**/*.ngfactory.js
/src/**/*.ngfactory.ts
/src/**/*.ngfactory.js.map
/src/**/*.js.map
/src/**/*.shim.ts

# Deploy keys
deploy_key
deploy_key.pub