.list-card {
  border-top: 4px solid #0091ea;
  min-height: 170px;
  cursor: pointer;
}

.list-card:focus {
  outline: 2px dotted #0091ea;
  outline-offset: -3px;
}

.list-card h4 {
  font-size: 2rem;
  margin: 10px 0 15px;
}

.list-card:hover {
  background: #f0f0f0;
}

.list-card .meta {
  display: inline-flex;
  color: rgba(0, 0, 0, 0.54);
  height: 36px;
  margin: 0;
  padding-left: 13px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  align-items: center;
  text-decoration: none;
}

.list-card .meta .icon {
  padding-right: 6px;
}

.list-card .mdl-button {
  float: right;
  color: #0091ea;
}

@media (max-width: 479px) {
  .list-card .mdl-button {
    display: none;
  }
}
