@font-face {
  font-family: "icon-font";
  src:url("fonts/icon-font.eot");
  src:url("fonts/icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-font.woff") format("woff"),
    url("fonts/icon-font.ttf") format("truetype"),
    url("fonts/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\61";
}
.icon-graph:before {
  content: "\62";
}
.icon-globe:before {
  content: "\63";
}
.icon-pulse:before {
  content: "\64";
}
.icon-github:before {
  content: "\65";
}
.icon-heart-1:before {
  content: "\66";
}
.icon-dashboard:before {
  content: "\67";
}
.icon-flame:before {
  content: "\68";
}
.icon-calendar:before {
  content: "\69";
}
.icon-github-square:before {
  content: "\6a";
}
.icon-repo:before {
  content: "\6b";
}
.icon-bars:before {
  content: "\6c";
}
.icon-sort-desc:before {
  content: "\6d";
}
.icon-code:before {
  content: "\6e";
}
.icon-repo-pushed:before {
  content: "\71";
}
