.content-wrapper {
  max-width: 1080px;
  margin: 0 auto 80px;
}

.content-wrapper.layout-compact {
  max-width: 1096px; /* 1080 + 8px(x2) mdl-grid-cell margins inside */
  padding: 0;
}

.content-wrapper .content {
  border-radius: 2px;
  padding: 50px;
  animation-duration: 0.3s;
  min-height: 350px;
}

.content-wrapper .content > h1 {
  margin-top: 0;
  font-size: 50px;
}

.content-wrapper .content > p {
  font-size: 20px;
}

.is-small-screen .content-wrapper .content {
  padding: 26px;
}

.is-small-screen .content-wrapper .content > h1 {
  font-size: 26px;
}

.is-small-screen .content-wrapper .content > p {
  font-size: 16px;
}

.content-wrapper.with-sidebar {
  max-width: 1600px;
}

.content-wrapper.layout-compact .content,
.content-wrapper.layout-compact .content > .mdl-grid,
.content-wrapper.layout-compact .content > * > .mdl-grid{
  padding: 0;
}

.content-wrapper.layout-compact > .content.mdl-cell--12-col > .content-heading,
.content-wrapper.layout-compact > .content.mdl-cell--12-col > * >.content-heading {
  margin-bottom: 16px;
  margin-left: 8px;
}

