/* Typography */
html,
body,
input {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html,
body,
a,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* (Fixes) mdl issue that screws window scroll event */
.mdl-layout__container {
  position: relative;
  height: auto;
  width: 100%;
}

.mdl-layout {
  min-height: 100vh;
}

.mdl-layout__drawer {
  position: fixed;
}

/* Header */
.mdl-layout__header {
  background: transparent;
  margin-top: 15px;
}

.mdl-layout__header,
.mdl-layout__content {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: margin, width;
  will-change: margin, width;
}

.mdl-layout__content {
  transition-duration: 0.3s;
}

.no-transition .mdl-layout__header,
.no-transition .mdl-layout__drawer,
.no-transition .mdl-layout__content {
  transition: none;
}

.mdl-layout__header-row {
  width: calc(100% - 16px);
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 12px !important;
  height: auto;
}

.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 0 0 20px;
  white-space: nowrap;
}

.mdl-layout__header-row .mdl-navigation__link .icon {
  padding-right: 8px;
  font-size: 20px;
}

/* Header Bar */
.header-bar {
  display: table;
  margin-top: 15px;
}

.mdl-layout.has-drawer.is-small-screen .list-search-bar {
  display: table-cell;
}

.drawer-toggler {
  display: table-cell;
  padding: 0 15pt;
  border: 0;
  outline: none;
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.drawer-toggler:hover {
  color: #fff;
}

.drawer-toggler .icon {
  font-size: 2rem;
  line-height: 100%;
}

/* Logo */
.mdl-layout__header-row .logo img {
  opacity: 0.85;
}

.mdl-layout__header-row .breadcrumbs {
  display: flex;
  flex-shrink: 1;
  height: 28px;
  line-height: 32px;
  font-size: 20px;
  padding-left: 8px;
  color: #fff;
  opacity: 0.85;
  overflow: hidden;
}

.mdl-layout__header-row .breadcrumbs .breadcrumbs__link {
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
}

.mdl-layout__header-row .breadcrumbs .breadcrumbs__link:nth-child(4) {
  flex-shrink: 1;
  min-width: 1ch;
}

.mdl-layout__header-row .breadcrumbs .breadcrumbs__separator {
  padding: 0 4px;
}

.mdl-layout__header-row:hover .logo img,
.mdl-layout__header-row:hover .breadcrumbs {
  opacity: 1;
}

@media (max-width: 768px) {
  .mdl-layout__header-row .breadcrumbs > * {
    display: none;
  }
  .mdl-layout__header-row .breadcrumbs *:nth-child(1),
  .mdl-layout__header-row .breadcrumbs *:nth-child(2) {
    display: block;
  }
}

@media (max-width: 479px) {
  .mdl-layout__header-row .breadcrumbs {
    display: none;
  }
}

/* Ribbon */
.ribbon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 22rem;
  background-position: 50% 45%;
  background-size: cover;
}

/* Content */
.mdl-layout__content {
  margin-top: 15px;
}

.content-heading {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
}

/* Scroll To Top */
.scroll-top {
  opacity: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.scroll-past-fold .scroll-top {
  opacity: 1;
}

/* Drawer */
.drawer .mdl-layout__title {
  padding-left: 16px;
  border-bottom: 1px solid #ededed;
  margin: 0;
}

.drawer .mdl-navigation .mdl-navigation__link {
  padding: 0 0 0 15px;
  line-height: 44px;
  margin-bottom: 1px;
  border-left: 5px solid transparent;
}

.drawer .mdl-navigation .mdl-navigation__link:hover,
.drawer .mdl-navigation .mdl-navigation__link--current {
  text-decoration: none;
  background: #f3f3f3;
  border-color: #0091ea;
  color: #0074bc;
}

.drawer .mdl-navigation .mdl-navigation__link.level-1 {
  padding-left: 20px;
}

.drawer .mdl-navigation .mdl-navigation__link.level-2 {
  padding-left: 25px;
}

.drawer .mdl-navigation .divider {
  border-bottom: 1px solid #ededed;
  margin: 5px 0 5px 20px;
}

/* Cards */
.mdl-card {
  min-height: auto;
}

.mdl-card__supporting-text {
  flex-grow: 1;
}

.mdl-grid--no-spacing > .mdl-cell:not(:first-child) {
  margin-top: 16px;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons & Icons */
.icon {
  display: inline-block;
}

.icon svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mdl-button .icon {
  padding-right: 6px;
}

.mdl-button.mdl-button--icon .icon {
  padding: 0;
}

.mdl-button.mdl-button--fab .icon {
  padding-right: 0;
}

.icon-24 svg,
.mdl-button.mdl-button--fab .icon svg {
  width: 24px;
  height: 24px;
}

.icon-28 svg,
.mdl-button.mdl-button--fab .icon svg {
  width: 28px;
  height: 28px;
}
