<div
  #layout
  class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100"
  [class.mdl-layout--fixed-drawer]="drawer || drawerSkeleton"
  [class.scroll-past-fold]="scrollPastFold"
  [class.no-transition]="initialNavigation"
>
  <!-- Header -->
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color-text--white">
    <button #drawerButton class="mdl-layout__drawer-button hidden">Open side menu</button>
    <div class="mdl-layout__header-row">
      <a class="mdl-layout-title logo" [routerLink]="['./']" title="Home">
        <img src="assets/images/logo.svg" width="240" height="28" alt="Awesomehub logo" fetchpriority="high" />
      </a>
      @if (breadcrumbs.length) {
        <nav class="breadcrumbs" aria-label="Breadcrumb">
          @for (crumb of breadcrumbs; track $index) {
            <span class="breadcrumbs__separator">/</span>
            @if ($last) {
              <span class="breadcrumbs__link" [title]="crumb.label">{{ crumb.label }}</span>
            } @else {
              <a [routerLink]="crumb.route" class="breadcrumbs__link" [title]="crumb.label">
                {{ crumb.label }}
              </a>
            }
          }
        </nav>
      }
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="//github.com/awesomehub" target="_blank">
          <ah-svg key="github" class="icon icon-24" />
          <span>Github</span>
        </a>
      </nav>
    </div>
    <div class="header-bar mdl-layout__header-row">
      <div class="header-bar__inner">
        @if (drawer) {
          <a
            href="javascript:void(0)"
            class="drawer-toggler mdl-layout--small-screen-only"
            (click)="toggleDrawer()"
            title="Open side menu"
            role="button"
          >
            <ah-svg key="bars" class="icon icon-28" />
          </a>
        }
        <router-outlet name="header-bar" />
        <ah-skeleton-outlet name="header-bar" />
      </div>
    </div>
  </header>

  <!-- Ribbon -->
  <div class="ribbon mdl-color--primary" style="background-image: url('assets/images/jumbotron-bg.jpg')"></div>

  <!-- Drawer outlet -->
  <div class="mdl-layout__drawer drawer">
    @if (drawer) {
      <h2 class="mdl-layout__title">{{ drawer.title }}</h2>
    }
    <router-outlet name="drawer" (activate)="onDrawerActivation($event)" (deactivate)="onDrawerDeactivation()" />
    <ah-skeleton-outlet
      name="drawer"
      (activate)="onDrawerSkeletonActivation($event)"
      (deactivate)="onDrawerSkeletonDeactivation()"
    />
  </div>

  <!-- Main -->
  <main class="mdl-layout__content">
    <router-outlet (activate)="onActivation($event)" (deactivate)="onDeactivation()" />
    <ah-skeleton-outlet />

    <button class="scroll-top mdl-button mdl-js-button mdl-button--fab" (click)="scrollTop()" title="Go to top">
      <ah-svg key="chevrons-up" class="icon" />
    </button>
  </main>

  <!-- Loading indicator -->
  <ah-loading-indicator />
</div>

<!-- Global SVG spirit -->
<ah-svg-spirit />
