.list-navigation .level-1::before,
.list-navigation .level-2::before {
  content: ' - ';
}

.list-copyright {
  position: absolute;
  top: 14px;
  right: 8px;
}

.list-copyright .markdown {
  width: 285px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 16px;
}

@media (max-width: 479px) {
  .list-copyright .markdown {
    width: 185px;
  }
}

.list-copyright > button {
  z-index: 1000;
  min-width: 24px;
  padding: 0 6px;
  border-radius: 999px;
}

.list-copyright > button .icon {
  padding-right: 0;
}
